<section class="container">
  <div class="center">
    <h4>Agregar mensaje</h4>
      <form action="/children/addpost/{{id}}" method="POST" enctype="multipart/form-data">
               
        {{!-- foto --}}
        <div class="file-field input-field">
          <div class="btn">
            <i class="material-icons prefix">cloud_upload</i>
            <label for="profilePic" style="color:white">Agrega foto:</label>
            <input type="file" name="photoURL" required="true">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" name="profilePic">
          </div>
        </div>
            
        {{!-- comentario --}}
        <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea2" class="materialize-textarea" data-length="120" name="description"></textarea>
              <label for="textarea2">Comentario</label>
            </div>
          </div>           
        </div>

        {{!-- boton --}}
        <button class="btn waves-effect waves-light ">Agregar post
          <i class="material-icons right">add</i>
        </button>

      <h3>{{error}}</h3>

    </form>
  </div>
</section>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">reorder</i>
  </a>
  <ul>
    <li><a href="/children/detail/{{id}}" class="btn-floating btn tooltipped waves-effect waves-light green"data-position="top" data-tooltip="Regresar"><i class="material-icons">reply</i></a></li>
  </ul>
</div>

{{!-- acctionbutton --}}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left'
    });
  });
</script>

{{!-- tooltip --}}
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>

{{!-- text --}}
<script>
  $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  }); 
</script>