<h2>Hola, administrador!</h2>

<a href="/children/create">Agregar pequeñin</a>



<div class="body container">


{{#each children as |child|}}
<div class="childCard">

<h2>{{child.name}}</h2>
<img src="{{child.profilePic}}" alt="photo">

 <a href="/children/detail/{{this._id}}"> <p>Ver detalle</p> </a>

</div>
{{else}}
  <h2>Aún no hay niños.</h2>
{{/each}}

</div>
