{{!-- Content --}}

{{!-- Carousel --}}
<section>
  <div class="parallax-container center valign-wrapper">
      <div class="carousel carousel-slider">
        
      {{!-- texto --}}
      {{!-- <div class="carousel-fixed-item">
        <div class="container">
          <h1 class="white-text">{{title}}</h1>
          <a class="waves-effect waves-light btn-large teal lighten-2" href="/auth/signup">Get Started</a>
        </div>
      </div> --}}

      {{!-- imagenes --}}
        <a class="carousel-item" href="#one!"><img src="https://www.unicef.org/lac/sites/unicef.org.lac/files/styles/media_banner/public/2018-03/%C2%A9-UNICEF_UNI178927_Ramos_1600x900_0.jpg?itok=Q0ruqB94"></a>
        <a class="carousel-item" href="#two!"><img src="https://d2drhpw56bvoc4.cloudfront.net/wp-content/uploads/2015/03/16125628/uni170421.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="https://www.unicef.org/sites/default/files/styles/media_banner/public/2018-02/01_HP_UNI158415_Bluewash_WEB.jpg?itok=PU_hg3j5"></a>
        <a class="carousel-item" href="#four!"><img src="../images/52598164_2612407005499150_8595355265929314304_o.jpg"></a>
      </div>
  </div>
</section>

<div class="container">
  <div class="row">
     <div class="col m4 s12">
       <div class="icon-block">
         <h2 class="center light-blue-text">
           <i class="material-icons">work</i>  
         </h2>
         <h5 class="center">Nuestro Trabajo</h5>
         <p class="light">
           Potenciar el desarrollo infantil temprano (0-5 años). Creemos que las niñas y los niños aprenden mas y con mejores resultados si usamos un enfoque cariñoso y fortalecedor. Buscamos que cada niña y niño se desarrolle en un ambiente familiar.
         </p>
       </div>
       
     </div>
     <div class="col m4 s12">
       <div class="icon-block">
         <h2 class="center light-blue-text">
           <i class="material-icons">group</i>  
         </h2>
         <h5 class="center">Voluntariado</h5>
         <p class="light">
           Grupo Voluntario Mexicano Alemán es una Organización de la Sociedad Civil privada, comprometida con la infancia y niñez mexicana que ofrece un ambiente cariñoso y seguro para un desarrollo integral.
         </p>
       </div> 
     </div>
     <div class="col m4 s12">
       <div class="icon-block">
         <h2 class="center light-blue-text">
           <i class="material-icons">home</i>  
         </h2>
         <h5 class="center">Casa del Sol</h5>
         <p class="light">
           Un lugar seguro, digno y cariñoso donde bebés, niñas y niños en vulnerabilidad emocional, social y económica crecen y se desarrollan para formar parte de una familia en un futuro cercano.
         </p>
       </div> 
     </div>
   </div>
</div>

<div class="parallax-container center valign-wrapper">
  <div class="parallax"><img src="https://d2drhpw56bvoc4.cloudfront.net/wp-content/uploads/2015/03/16125628/uni170421.jpg">
  </div>
  
  <div class="container white-text">
    <div class="row">
      <div class="col s12">
        <h5>"La infancia queda grabada en la memoria del corazón"</h5>
        <h6>-Jorge Villar, Director General</h6>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="container center-align">
 <div class="section">
    <div class="row">
    <div class="col s12">
      <h4>Contacto</h4>
      <p class="light center-align">
        <a href="mailto:info@casadelsolpuebla.org?Subject=Hello%20again" target="_top">info@casadelsolpuebla.org</a>
      </p>
      <p class="light center-align">
        +55 (222) 5141778 / +55 (222) 2480595
      </p>
      <p class="light center-align">
        Calle del Sol #2910 San Andrés Cholula,
      </p>
      <p class="light center-align">
       Puebla, México CP 72197
      </p>
    </div>      
  </div>
  </div>
</div> --}}

<div class="container">
  <div class="row">
    {{!-- chart --}}
    <div class="col m6 s12">
      <div class="icon-block">
        <img class="materialboxed" height="252" src="../images/modelo padrino.png" alt="">
      </div>
    </div>

    {{!-- Contacto  --}}
    <div class="col m6 s12">
      <div class="icon-block">
        <h4 class="center">Contacto</h4>
        <p class="light center-align">
          <a href="mailto:info@casadelsolpuebla.org?Subject=Hello%20again" target="_top">info@casadelsolpuebla.org</a>
        </p>
        <p class="light center-align">
          +55 (222) 5141778 / +55 (222) 2480595
        </p>
        <p class="light center-align">
          Calle del Sol #2910 San Andrés Cholula,
        </p>
        <p class="light center-align">
          Puebla, México CP 72197
        </p>
      </div> 
     </div>
   </div>
</div>

<div class="parallax-container center valign-wrapper">
  <div class="parallax"><img src="https://www.unicef.org/sites/default/files/styles/media_banner/public/2018-02/01_HP_UNI158415_Bluewash_WEB.jpg?itok=PU_hg3j5">
  </div>
  
  <div class="container white-text ">
    <div class="row">
      <div class="col s12">
        <h5 class= "textoproblematico">"Gracias a tu ayuda mi corazón guardará las mejores memorias de una infancia feliz"</h5>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">¿Quiénes somos?</h5>
        <p class="grey-text text-lighten-4">
          Seguimos generando beneficios a los pequeños más desprotegidos habiendo atendido a 1,200 menores, logrando su reintegración a la sociedad, proporcionándoles servicios de asistencia, de salud y de alimentación; educativos y proporcionándoles actividades recreativas y de socialización. Contamos con autorización para recibir donativos y expedir recibos deducibles a nivel Nacional y también Internacional, publicadas en el Diario Oficial de la Federación con última publicación el 17 de Junio del 2013.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Redes Sociales</h5>
        <ul>
           <li>
            <a href="https://www.facebook.com/casadelsolpuebla" class="grey-text text-lighten-3">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/casadelsolpue" class="grey-text text-lighten-3">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Padrinos</h5>
        <ul>
          <li>
            <a href="/auth/login" class="grey-text text-lighten-3">Login</a>
          </li>
          <li>
            <a href="/auth/signup" class="grey-text text-lighten-3">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright CasaDelSol
    </div>
  </div>
</footer>

{{!-- Parallax --}}
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous">
</script>

<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });    
</script>

{{!-- Zoom --}}
<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>

{{!-- Carousel --}}
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      dist: 0,
      padding: 0,
      fullWidth: true,
      }
    );
  });
</script>

<script>
  $(document).ready(function(){
    $('.carousel').carousel();
    setInterval(function(){
      $('.carousel').carousel('next');
    },2000)
  });
</script>