<h4 class="center">Galería</h4>

<div id="cont-detail">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col 12">
          <div class="section">
            {{#each pictureGallery}}
              <div class="col m4 s12">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="materialboxed" width="300" src="{{this.photoURL}}" alt="foto">
                  </div>
                  <div class="card-content">
                    <span class="fechas"><u>{{this.createdAt}}</span></u>
                    <h5>{{this.description}}</h5> 
                  </div>
                </div>
              </div>         

            {{else}}
            <p>Aquí podrás ver fotos de tu ahijado</p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/moment"></script>
<script>
  moment.locale('es')
  let fechas = document.getElementsByClassName('fechas')
  console.log(fechas)

  for (let i = 0; i < fechas.length; i++) {
    fechas[i].innerText = moment().format('L')
  }
</script>

{{!-- Zoom --}}
<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>