<h4>Galería</h4>



{{#each pictureGallery}}
<img width="300" src="{{this.photoURL}}" alt="foto">
<p>{{this.description}} <span class="fechas"><u>{{this.createdAt}}</span></u></p>

{{else}}
<p>Aquí podrás ver fotos de tu ahijado</p>
{{/each}}

<a href="/profile">Regresar</a>


<script src="https://unpkg.com/moment"></script>
<script>
  let fechas = document.getElementsByClassName('fechas')
  moment.locale('es')
  for (let i = 0; i < fechas.length; i++) {
    fechas[i].innerText = moment().locale('es').format('L')
  }
</script>