<h4>Galería</h4>



{{#each pictureGallery}}
<div class="container">
  <div class="row">
    <div class="col m6 s12">
      <div class="icon-block">
        <img class="materialboxed" width="300" src="{{this.photoURL}}" alt="foto">
        <h5>{{this.description}}</h5> 
        <span class="fechas"><u>{{this.createdAt}}</span></u>
      </div>
    </div>
  </div>
</div>
  


{{else}}
<p>Aquí podrás ver fotos de tu ahijado</p>
{{/each}}


<script src="https://unpkg.com/moment"></script>
<script>
  moment.locale('es')
  let fechas = document.getElementsByClassName('fechas')
  console.log(fechas)

  for (let i = 0; i < fechas.length; i++) {
    fechas[i].innerText = moment().format('L')
  }
</script>

{{!-- Zoom --}}
<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>