body {
  padding: 50px;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //font-family: 'Indie Flower', cursive;
  font-family: 'Luckiest Guy', cursive;
}

a {
  color: #00B7FF;
}

.nav-wrapper{
  color: #ffb74d orange lighten-2;

}

.prueba {
  color: black;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content:flex-start;
  flex-direction: row;
  flex-flow: wrap;

}

.childCard{
  align-items:center;
  justify-content: center;
  width:33%;
}

.childCard img{
  width: 300px;
}