body {
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
  // background-color: antiquewhite;
}
nav .brand-logo {
  padding: 8px;
}

.prueba {
  color: black;
}

a {
  color: black;
}

.btn {
  background-color: #018dc9;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content:flex-start;
  flex-direction: row;
  flex-flow: wrap;

}

.nidet{
  padding-left: 40px;
  padding-right: 40px;
}
.childCard{
  align-items:center;
  justify-content: center;
  width:33%;
}

.childCard img{
  width: 300px;
}
div {
  display: block;
}

.textoproblematico{
  margin: 30.0933333333rem 0 .656rem 0;
}

.cont-detail{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 }