body {
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
nav .brand-logo {
  padding: 8px;
}

.prueba {
  color: black;
}

// a {
//   color: white;
// }

.btn {
  background-color: #018dc9;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content:flex-start;
  flex-direction: row;
  flex-flow: wrap;

}

.childCard{
  align-items:center;
  justify-content: center;
  width:33%;
}

.childCard img{
  width: 300px;
}
div {
  display: block;
}

.textoproblematico{
  margin: 30.0933333333rem 0 .656rem 0;
}

.cont-detail{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 }

 .parallax-container .carousel a img {
  background-size:100% auto;
  background-repeat: no-repeat;
}