body {
  padding: 50px;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //font-family: 'Indie Flower', cursive;
  font-family: 'Luckiest Guy', cursive;
}

a {
  color: #00B7FF;
}

.nav-wrapper{
  color: #ffb74d orange lighten-2;

}